<div class="main-wrapper">
  

    <div [ngClass]="{
      'page-wrapper': true,
      'mobile-fr-page-wrapper-open': this.languageService.userLanguage != 'ar',
      'arabic': this.languageService.userLanguage == 'ar'
    }">
        <!-- partial:navbar -->
        <app-navbar [ngStyle]="
        this.languageService.userLanguage == 'ar' && {
          direction: 'rtl'
        }
      "></app-navbar>
      <div class="header">
        <div class="title-header">{{ "welcome2"|translate }}</div>
        <div class="title-header admin">{{ "admin" | translate }}</div>
        <div class="title-header not-admin">{{ "buyer" | translate }}</div>
      </div>
        <div class="page-content">
            <!-- Spinner for lazyload modules -->
            <div *ngIf="isLoading" class="spinner-wrapper">
                <div class="spinner">Loading...</div>
            </div>

            <div contentAnimate *ngIf="!isLoading">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>