<!-- Header -->
<!-- <a (click)="goBack()"><i style="color:blue;" data-feather="corner-up-left" appFeatherIcon></i></a>  -->
<div class="header">
    <div class="nav-type2">
        <div class="nav-2-element" [ngClass]="{'active':page==0}" (click)="page=0">
             {{ "supplier" | translate }} {{avg | number : '1.2-2' }}  <mat-icon class="star-icon">star</mat-icon> 
        </div>
        <div class="nav-2-element" [ngClass]="{'active':page==1}" (click)="page=1">
           {{ "rate" | translate }} ({{ currentComments?currentComments.length:0 }})
        </div>
    </div>
    <div class="for-header-card"></div>
</div>
<div class="card-header-elements" *ngIf="!loading" [ngStyle]="{'display':(page==0 && !loading)?'flex':'none'}">
    <div class="card-header-1">
        <div class="c-h-title">{{ "activitySector" | translate }}</div>
        <div class="c-h-body green">{{ data.activitySector[0] | translate }}</div>
    </div>
    <div class="card-header-1">
        <div class="c-h-title">{{ "capitalMAD" | translate }}</div>
        <div class="c-h-body">{{ data.capitalMAD }}</div>
    </div>
    <div class="card-header-1">
        <div class="c-h-title">{{ "creationYear" | translate }}</div>
        <div class="c-h-body">{{ data.creationYear }}</div>
    </div>
    <div class="card-header-1">
        <div class="c-h-title">{{ "cin" | translate }}</div>
        <div class="c-h-body">{{ data.cin }}</div>
    </div>
    <div class="card-header-1">
        <div class="c-h-title">{{ "commercialCourt" | translate }}</div>
        <div class="c-h-body" [ngClass]="{'no-data':(data.commercialCourt==null)}">{{ data.commercialCourt }}</div>
    </div>
</div>
<!-- end Header -->

<div class=" body-container">
    <!-- PAGE 1-->
    <div [ngStyle]="{'display':(page==0)?'block':'none'}"  *ngIf="!loading">
        <div class="title-type1">{{ "authorizedContacts" | translate }}</div>
        <div class="fournisseur-container-1" *ngFor="let authCont of data.authorizedContacts">
            <div class="fournisseur-el1">
                <div class="fournisseur-title">{{ "email" | translate }}</div>
                <div class="fournisseur-body"  [ngClass]="{'no-data':(authCont.email ==null)}" >{{ authCont.email }}</div>
            </div>
            <div class="fournisseur-el1">
                <div class="fournisseur-title">{{ "fax" | translate }}</div>
                <div class="fournisseur-body"  [ngClass]="{'no-data':(authCont.fax ==null)}">{{ authCont.fax }}</div>
            </div>
            <div class="fournisseur-el1">
                <div class="fournisseur-title">{{ "fullName" | translate }}</div>
                <div class="fournisseur-body"  [ngClass]="{'no-data':(authCont.fullName ==null)}">{{ authCont.fullName }}</div>
            </div>
            <div class="fournisseur-el1">
                <div class="fournisseur-title">{{ "functionality" | translate }}</div>
                <div class="fournisseur-body"  [ngClass]="{'no-data':(authCont.functionality ==null)}">{{ authCont.functionality | translate}}</div>
            </div>
            <div class="fournisseur-el1">
                <div class="fournisseur-title">{{ "id" | translate }}</div>
                <div class="fournisseur-body" [ngClass]="{'no-data':(authCont.id ==null)}">{{ authCont.id }}</div>
            </div>
        </div>
        <div class="title-type1">{{ "formCompleters" | translate }}</div>
        <div class="fournisseur-container-1" *ngFor="let formCompleter of data.formCompleters">
            <div class="fournisseur-el1">
                <div class="fournisseur-title">{{ "email" | translate }}</div>
                <div class="fournisseur-body"  [ngClass]="{'no-data':(formCompleter.email ==null)}" >{{ formCompleter.email }}</div>
            </div>
            <div class="fournisseur-el1">
                <div class="fournisseur-title">{{ "fax" | translate }}</div>
                <div class="fournisseur-body"  [ngClass]="{'no-data':(formCompleter.fax ==null)}">{{ formCompleter.fax }}</div>
            </div>
            <div class="fournisseur-el1">
                <div class="fournisseur-title">{{ "fullName" | translate }}</div>
                <div class="fournisseur-body"  [ngClass]="{'no-data':(formCompleter.fullName ==null)}">{{ formCompleter.fullName }}</div>
            </div>
            <div class="fournisseur-el1">
                <div class="fournisseur-title">{{ "functionality" | translate }}</div>
                <div class="fournisseur-body"  [ngClass]="{'no-data':(formCompleter.functionality ==null)}">{{ formCompleter.functionality | translate}}</div>
            </div>
            <div class="fournisseur-el1">
                <div class="fournisseur-title">{{ "id" | translate }}</div>
                <div class="fournisseur-body" [ngClass]="{'no-data':(formCompleter.id ==null)}">{{ formCompleter.id }}</div>
            </div>
        </div>
        <hr/>
        <div class="card" style="border-radius:15px;">
            <div class="card-body hCustom" *ngIf="loading">
                <div class="w-100 d-flex justify-content-center align-items-center mt-5">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">{{"Loading" | translate}}</span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card-body" *ngIf="!loading" >
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "haveMoroccanProducts" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.haveMoroccanProducts ==null)}">
                            <div *ngIf="data.haveMoroccanProducts" class="oui">Oui</div>
                            <div *ngIf="!data.haveMoroccanProducts" class="non">Non</div>
                        </div>
                    </div>
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "haveOtherLocation" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.haveOtherLocation ==null)}">
                            <div *ngIf="data.haveOtherLocation" class="oui">Oui</div>
                            <div *ngIf="!data.haveOtherLocation" class="non">Non</div>
                        </div>
                    </div>
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "ice" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.ice ==null)}">{{ data.ice }}</div>
                    </div>
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "isoCertification" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.isoCertification ==null)}">{{ data.isoCertification }}</div>
                    </div>
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "lawForm" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.lawForm ==null)}">{{ data.lawForm }}</div>
                    </div>
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "managerFullName" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.managerFullName ==null)}">{{ data.managerFullName }}</div>
                    </div>
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "managerFunction" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.managerFunction ==null)}">{{ data.managerFunction }}</div>
                    </div>
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "officeAddress" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.officeAddress ==null)}">{{ data.officeAddress }}</div>
                    </div>
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "officeCity" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.officeCity ==null)}">{{ data.officeCity }}</div>
                    </div>
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "officeCountry" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.officeCountry ==null)}">{{ data.officeCountry }}</div>
                    </div>
                    <div class="row mt-2 rowFournisseur">
                        <div class="col-md-8">{{ "officeZipCode" | translate }}</div>
                        <div class="col-md-4"  [ngClass]="{'no-data':(data.officeZipCode ==null)}">{{ data.officeZipCode }}</div>
                    </div>
            </div>
        </div>
    </div>
    
    <!-- PAGE 2 -->
    <div [ngStyle]="{'display':(page==1)?'block':'none'}" >
        <div class="rating-list" *ngIf="currentComments">
                <div class="noComments" *ngIf="!currentComments||currentComments.length==0">
                    <h6>{{"noComments" | translate}}</h6>
                </div>
                <div class="rating-element-lst" *ngFor="let rate of currentComments">
                    <app-avatar [short]="rate.buyer.firstName[0].toUpperCase()+rate.buyer.lastName[0].toUpperCase()"
                        [name]="rate.buyer.firstName+' '+rate.buyer.lastName"
                        [src]="fileService.getPhotoPath(rate.buyer.photo)"
                      ></app-avatar>

                    
                    <h6>{{rate.buyer.firstName+" "+rate.buyer.lastName}} </h6>
                    <div>{{rate.rate}} <mat-icon class="star-icon">star</mat-icon></div>
                    <div class="comment-element">{{rate.comment}}</div>
                </div>
        </div>
    </div>
</div>