<div class="bigContainer">
    <ng-container *ngIf="roles.includes('buyer')||roles.includes('buyer_expert')">
        <mat-card class="newCard box">
            <div class="background-card" style="background-image: url('/assets/images/bgs/buyer_bg.png');"></div>
            <h2 class="welcome-text">
                {{ "welcomeBuyer" | translate }}
                <div class="dividerWhite"></div>
            </h2>
          </mat-card>
    </ng-container>
</div>
<div class="bigContainer">
    <ng-container *ngIf="roles.includes('supplier')">
        <mat-card class="newCard box">
            <div class="background-card" style="background-image: url('/assets/images/bgs/supplier_bg.png');"></div>
            <h2 class="welcome-text">
                {{ "supplierBuyer" | translate }}
                <div class="dividerWhite"></div>
            </h2>
          </mat-card>
    </ng-container>
</div>
<ng-container *ngIf="roles.includes('admin')&&!dataLoaded">
    <div class="table_loader loader_container">
        <div class="table_loader_background"></div>
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="roles.includes('admin')&&dataLoaded">
    <div class="header">
        <div class="nav-type2">
            <div class="nav-2-element active">
                 {{ "statistics" | translate }} 
            </div>
        </div> 
        <div class="for-header-card"></div>
    </div>
    <div class="card-header-elements" >
        <div class="card-header-1">
            <div class="c-h-title">{{ "admins" | translate }}</div>
            <div class="c-h-body">{{ statsData.users.otherUserNumber-statsData.users.supplierNumber-statsData.users.buyerNumber}}</div>
        </div>
        <div class="card-header-1">
            <div class="c-h-title">{{ "suppliers" | translate }}</div>
            <div class="c-h-body">{{ statsData.users.supplierNumber }}</div>
        </div>
        <div class="card-header-1">
            <div class="c-h-title">{{ "buyers" | translate }}</div>
            <div class="c-h-body">{{ statsData.users.buyerNumber}}</div>
        </div>
        <div class="card-header-1"  *ngFor="let i of statsData.categories.active">
            <div class="c-h-title">{{ i.label | translate }}</div>
            <div class="c-h-body">{{ i.count }}</div>
        </div>
        <!-- 
        <div class="card-header-1">
            <div class="c-h-title">{{ "commercialCourt" | translate }}</div>
            <div class="c-h-body" [ngClass]="{'no-data':(data.commercialCourt==null)}">{{ data.commercialCourt }}</div>
        </div> -->
    </div>
    <!-- end Header -->
    <div class="charts-cont">
        <div class="apex-element" style=" max-height: 500px; ">
            <div class="title-apex"> {{ apexChart4Options.title.text }}</div>
            <div style="max-width:500px;margin:auto">
                <apx-chart
                #chart4
                [series]="apexChart4Options.series"
                [chart]="apexChart4Options.chart"
                [colors]="apexChart4Options.colors"
                [xaxis]="apexChart4Options.xaxis"
                [labels]="apexChart4Options.labels"
                [responsive]="apexChart4Options.responsive"
                [title]=""></apx-chart>
            </div>
        </div>
        <div class="apex-element" style=" max-height: 500px; ">
            <div class="title-apex"> {{ apexChart5Options.title.text  }}</div>
            <div style="max-width:500px;margin:auto">
                <apx-chart
                #chart5
                [series]="apexChart5Options.series"
                [colors]="apexChart5Options.colors"
                [chart]="apexChart5Options.chart"
                [xaxis]="apexChart5Options.xaxis"
                [labels]="apexChart5Options.labels"
                [responsive]="apexChart5Options.responsive"
                [title]=""></apx-chart>
            </div>
        </div>
    </div>
    <div class="charts-cont">
        <div class="apex-element">
            <div class="title-apex"> {{ apexChart1Options.title.text }}</div>
            <div style="margin:auto">
                <apx-chart
                #chart4
                [series]="apexChart1Options.series"
                [chart]="apexChart1Options.chart"
                [xaxis]="apexChart1Options.xaxis"
                [labels]="apexChart1Options.labels"
                [responsive]="apexChart1Options.responsive"
                [title]=""></apx-chart>
            </div>
        </div>
        <div class="apex-element">
            <div class="title-apex"> {{ apexChart2Options.title.text  }}</div>
            <div style="margin:auto">
                <apx-chart
                #chart5
                [series]="apexChart2Options.series"
                [chart]="apexChart2Options.chart"
                [xaxis]="apexChart2Options.xaxis"
                [labels]="apexChart2Options.labels"
                [responsive]="apexChart2Options.responsive"
                [title]=""></apx-chart>
            </div>
           
        </div>
    </div>
    <div class="charts-cont">
        <div class="apex-element">
            <div class="title-apex"> {{ apexChart3Options.title.text  }}</div>
            <apx-chart
                #chart3
                [series]="apexChart3Options.series"
                [chart]="apexChart3Options.chart"
                [xaxis]="apexChart3Options.xaxis"
                [title]=""></apx-chart>
        </div>
    </div>
    
</ng-container>