<p class="h5 mb-4" [ngStyle]="
    this.languageService.userLanguage == 'ar' && { 'text-align': 'right' }
  ">
  <a (click)="goBack()"><i style="color:blue;" data-feather="corner-up-left" appFeatherIcon></i></a> {{ "supplier" | translate }} 
  ({{avg | number : '1.2-2' }} <mat-icon>star</mat-icon>)
</p>

<div>
    <div class="card">
        <div class="card-body hCustom" *ngIf="loading">
            <div class="w-100 d-flex justify-content-center align-items-center mt-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">{{"Loading" | translate}}</span>
                </div>
            </div>
        </div>

        <div class="card-body" *ngIf="!loading">
                <div class="row mt-2" *ngFor="let item of data |keyvalue">
                    <ng-container *ngIf="whatIsIt(item.value)=='Array'">
                        <div class="col-6">
                            {{""+item.key | translate : { year1: thisYear-1,year2:thisYear-2,year3:thisYear-3 } }}
                        </div>
                        <div class="col-6">
                            <ng-container *ngIf="item.value.length==0">
                                {{"null"|translate}}
                            </ng-container>
                            <ng-container *ngIf="item.value.length>0">
                                <div class="dotted-border table table-striped table-responsive">
                                    <table *ngIf="whatIsIt(item.value[0])=='Object'" class="table text-center" [ngStyle]="languageService.userLanguage == 'ar' && {direction: 'rtl' }">
                                       <thead>
                                          <tr>
                                             <th *ngFor="let key of item.value[0] |keyvalue">{{ key.key | translate }}</th>
                                          </tr>
                                       </thead>
                                       <tbody>
                                          <tr class="my-10" *ngFor="let ele of item.value">
                                             <td *ngFor="let sele of ele |keyvalue">{{sele.value}}</td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    <table *ngIf="whatIsIt(item.value[0])=='Other'" class="table text-center" [ngStyle]="languageService.userLanguage == 'ar' && {direction: 'rtl' }">
                                        <tbody>
                                           <tr class="my-10" *ngFor="let ele of item.value">
                                              <td>{{ele}}</td>
                                           </tr>
                                        </tbody>
                                     </table>
                                 </div>
                            </ng-container>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="whatIsIt(item.value)=='Object'">
                        <div class="row" *ngFor="let ele of item.value |keyvalue">
                            <div class="col-6">
                                {{ele.key}}
                            </div>
                            <div class="col-6">
                                {{ele.value}}
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="whatIsIt(item.value)=='Other'">
                        <div class="col-6">
                            {{""+item.key | translate : { year1: thisYear-1,year2:thisYear-2,year3:thisYear-3 } }}
                        </div>
                        <div class="col-6">
                            {{""+item.value | translate}}
                        </div>
                    </ng-container>
                </div>
        </div>
    </div>
    <div class="card mt-2" *ngIf="!currentComment">
        <div class="card-body">
            <h4>{{"addYourRating" | translate}}</h4>
            <div class="row">
                <div class="col-3">
                    <star-rating [rating]="comment.rate" [starCount]="1" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></star-rating>
                </div>
                <div class="col-9">
                    <textarea [(ngModel)]="comment.comment" class="w-100 textarea p-1" placeholder="{{'yourComment'|translate}}"></textarea>
                </div>
                <div class="col-12 d-flex" style="justify-content:center">
                    <button [disabled]="dataSent" (click)="addComment()" class="btn btn-success mr-2 mb-2 mb-md-0">{{"add"|translate}}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="yr" class="card mt-2" *ngIf="currentComment">
        <div class="card-body">
            <h4>{{"yourRating" | translate}}</h4>
            <div class="row">
                <div class="col-3">
                    <star-rating [rating]="currentComment.rate" [starCount]="1" [color]="starColor"></star-rating>
                </div>
                <div class="col-9">
                    <pre class="w-100 textarea overflow-scroll p-1">{{currentComment.comment}}</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-2" *ngIf="currentComments">
        <div class="card-body">
            <h4>{{"ratesAboutSupplier"|translate}}</h4>
            <div class="noComments" *ngIf="!currentComments||currentComments.length==0">
                <h6>{{"noComments" | translate}}</h6>
            </div>
            <div *ngFor="let rate of currentComments">
                <mat-divider></mat-divider>
                <h6>{{rate.buyer.firstName+" "+rate.buyer.lastName}} <star-rating [rating]="rate.rate" [starCount]="1" [color]="starColor"></star-rating></h6>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-9">
                        <pre class="w-100 textarea overflow-scroll custom-pre p-1">{{rate.comment}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>