<div class="header">
    <div class="nav-type2">
        <div class="nav-2-element active" >
             {{ "forum" | translate }} 
        </div>
    </div>
    <div class="btn white-btn" (click)="openDialog(dialogTemplate)" >
        <div>{{ "addPost" | translate }}</div>
        <div class="plus">+</div>
    </div>
</div>
<br>

<div class="row">
    <ng-template #dialogTemplate>
        <div style=" display: flex; flex-direction: column; margin: 10px 0; gap: 10px; min-width: 70vw; ">
            <div class="col-12 mx-auto mobile-w-100">
                <div class="col-12">
                    <label for="fname">{{"title" | translate}} <span class="text-danger"> *</span></label>
                    <input [(ngModel)]="this.currentPost.title" type="text" class="form-control" id="title" placeholder="{{ 'title' | translate }}"  [ngClass]="{'is-invalid':isSubmitted && (this.currentPost.title?.length==0)}" [ngStyle]=" this.languageService.userLanguage == 'ar' && {'text-align': 'right'}" />
                    <div *ngIf=" isSubmitted && this.currentPost.title?.length==0 " class="invalid-feedback"> {{ "RequiredField" | translate }} </div>
                </div>
                <br/>
            <div class="col-12 mx-auto mobile-w-100">
                <label data-toggle="tooltip" class="control-label">
                    {{"content" | translate}}
                    <span class="text-danger"> *</span>
                </label>
                <quill-editor [(ngModel)]="currentPost.content"
                [modules]="quillConfig"
                >
              </quill-editor>
              <div *ngIf="checkContent()" class="invalid-feedback" style="display: block;"> {{ "RequiredField" | translate }} </div>
            </div>
        </div>
        <div class="dialog-footer" >
            <button [disabled]="dataSent" style="color:#fff" (click)="closeDialog()" class="btn btn-warning delete">{{"cancel"|translate}}</button>
            <button [disabled]="dataSent" (click)="addPost()" class="btn btn-success">{{"add"|translate}}</button>
        </div>
    </div>
    </ng-template>
</div>
<br>
<br/>
<div class="col-md-12 stretch-card"  *ngIf="!isLoad">
    <div class="card">
        <div class="card-body" [ngStyle]="this.languageService.userLanguage == 'ar' && { direction: 'rtl' }">
            <div class="table-responsive" style=" position: relative; min-height: 40vh; ">
                <div class="table_loader loader_container">
                    <div class="table_loader_background"></div>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="posts-container" *ngIf="isLoad&&this.posts.length>0;else nodata">
    <div class="select-type-fetch">
        <ng-select [(ngModel)]="typeFetch" (change)="changeType()">
            <ng-container *ngFor="let item of typesOfFetch">
                <ng-option [value]="item">{{ item | translate }}</ng-option>
              </ng-container>
        </ng-select>
    </div>
   
    <br/>
    <div *ngFor="let post of this.posts; let i = index">
        <div class="post-container">
            <div class="top-element">
                <app-avatar [name]="post.creator?.firstName+' '+post.creator?.lastName" [src]="fileService.getPhotoPath(post.creator?.photo)"
                    [short]="post.creator?.firstName[0].toUpperCase()+post.creator?.lastName[0].toUpperCase()">
                </app-avatar>
                <div class="lelement-r">
                    <div class="post-title">{{ post.title }}</div>
                    <div class="post-bottom">
                        <div class="user-el">{{ post.creator?.firstName+' '+post.creator?.lastName  }}</div>
                        <div class="date-el">{{ post.createDate | date }}</div>
                    </div>
                    
                </div>
            </div>
            <div class="bottom-element">
                <div class="like-container" style="margin-left: 0px;">
                    <div class="like-comment"  (click)="likePost(post.id,!post.liked)" [ngClass]="{'active':post.liked}"><div class="like-e"><i data-feather="heart" appFeatherIcon></i></div><div class="left-element">{{post.count}}</div></div>
                </div>
                <div class="actions posts-action">
                    <button (click)="navigateToPost(post.id)"  type="button" class="btn btn-primary view" style=" color: #fff!important; width: 38px; padding: 10px 0px; margin:0 2px">
                        <span ><i data-feather="eye" appFeatherIcon></i></span>
                    </button>
                    <button *ngIf="checkIfIsMe(post)"  [disabled]="doingAction"  (click)="editPost(dialogTemplate,post,index)" type="button" class="btn btn-warning edit" style=" color: #fff!important; width: 38px; padding: 10px 0px; margin:0 2px">
                        <span ><i data-feather="edit-2" appFeatherIcon></i></span>
                    </button>
                    <button *ngIf="checkIfIsMe(post)"  [disabled]="doingAction"  (click)="deletePost(confirmRemove,post.id)" type="button" class="btn btn-danger delete" style=" color: #fff!important; width: 38px; padding: 10px 0px; margin:0 2px">
                        <span *ngIf="doingAction!=post.id;else buttonLoader"><i data-feather="trash-2" appFeatherIcon></i></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="">

        </div>
      </div>
      <div *ngIf="isLoad&&this.data.pageDetails.totalPages>this.currentPage" class="centerizeText smallText">
        <div (click)="loadMore()" class="btn btn-primary view loadmore" >
            <span *ngIf="isLoadMore;else buttonLoader">{{ "loadmore" | translate }}</span>
        </div>
    </div>
    <br/>
</div>


<ng-template #nodata>
    <div class="table_loader loader_container bigSize" *ngIf="isLoad">
        <i data-feather="alert-octagon" appFeatherIcon class="ml-2 mr-2"></i> {{"noData"|translate}}
    </div>
</ng-template>
<ng-template #buttonLoader>
    <span style=" margin: 3px 2px;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
</ng-template>
<ng-template #confirmRemove let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmation">{{"deleted" | translate}}</h5>
        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <p>{{"confirmDelete"|translate}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('close')">
      {{"close" | translate}}
    </button>
        <button type="button" class="btn btn-primary" (click)="modal.close('save')">
      {{"delete" | translate}}
    </button>
    </div>
</ng-template>
