.quill-editor-container {
    max-height: 70vh; 
    overflow-y: auto; 
}

.description{
    margin: 5px;
}

.description-content{
    padding-top: 5px;
    text-align: justify;
}

.actions-forum{
    align-items: center;
    gap: 10px;
}

.btns-filter{
    display: flex;
    align-self: center;
    align-items: center;
    margin-left: auto;
    margin-right: 1%;
}

.btn-warning {
    color: #fff!important;
    background-color: #fbbc06!important;
    border-color: #fbbc06!important;
}