.arabe
{
    direction: rtl;
    text-align: right;
}

@media print {
    .dontPrintMe {display: none;}
}
.dontPrintMe
{
    cursor: pointer;
    color: rebeccapurple;
    margin: 5px;
}

.mt-2.row
{
    border-bottom: 1px solid #e8dede;
}

.pointer
{
    cursor: pointer;
    border-top: 1px solid grey;
    outline: none;
}
.pointer:hover
{
    background-color: rgba(196, 196, 196, 0.427);
}

.iconCustom
{
    height: unset;
    width: unset;
}
.inOneLine
{
    align-items: center;
    justify-content: center;
    display: inline-flex!important;
}