<div class="header">
    <div class="nav-type2">
        <div class="nav-2-element active" >
             {{ "post" | translate }} 
        </div>
    </div>
</div>
<br>
<div class="go-back col-md-12 mb-2 mx-4 pointer" routerLink="/forum">
    <i data-feather="arrow-left" appFeatherIcon></i>
    <span>{{"goBackForum"|translate}}</span>
</div>

<div class="col-md-12 stretch-card"  *ngIf="!isLoad">
    <div class="card">
        <div class="card-body" [ngStyle]="this.languageService.userLanguage == 'ar' && { direction: 'rtl' }">
            <div class="table-responsive" style=" position: relative; min-height: 40vh; ">
                <div class="table_loader loader_container">
                    <div class="table_loader_background"></div>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isLoad">
    <div class="col-md-12 stretch-card" >
        <div class="card">
            <div class="card-body" [ngStyle]="this.languageService.userLanguage == 'ar' && { direction: 'rtl' }">
                <div class="post-container comment">
                    <div class="top-element">
                        <app-avatar [name]="currentPost.creator.firstName+' '+currentPost.creator.lastName" [src]="fileService.getPhotoPath(currentPost.creator.photo)"
                            [short]="currentPost.creator.firstName[0].toUpperCase()+currentPost.creator.lastName[0].toUpperCase()">
                        </app-avatar>
                        <div class="lelement-r">
                            <div class="post-title">{{ currentPost.title }}</div>
                            <div class="post-bottom">
                                <div class="user-el">{{ currentPost.creator.firstName+' '+currentPost.creator.lastName  }}</div>
                                <div class="date-el">{{ currentPost.createDate | date }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="post-content" [innerHTML]="currentPost.content"></div>
                    <div class="count-container">
                        <div class="like-comment"  (click)="likePost(!currentPost.liked)" [ngClass]="{'active':currentPost.liked}"><div class="like-e"><i data-feather="heart" appFeatherIcon></i></div><div class="left-element">{{currentPost.count}}</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h4 class="col-md-12 mx-2 mb-1">{{"comments"|translate}}</h4>
    <div class="col-md-12 stretch-card" >
        <div class="card">
            <div class="card-body" [ngStyle]="this.languageService.userLanguage == 'ar' && { direction: 'rtl' }">
                <div class="reply-elemnt">
                    <input [disabled]="disableComment" [placeholder]=" 'addComment' | translate"  type="text" class="form-control"  [(ngModel)]="this.newComment" />
                    <button  class="btn btn-primary view" [disabled]="this.newComment.length==0 || disableComment" (click)="addComment(currentPost)" style="cursor: pointer;">{{ 'Add' | translate }}</button>
                  </div>
                  <br/>
                <div *ngFor="let comment of currentPost.comments">
                    <app-comment [comment]="comment" [onDone]="updatePost" ></app-comment>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
<ng-template #confirmRemove let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmation">{{"deleted" | translate}}</h5>
        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <p>{{"confirmDelete"|translate}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('close')">
      {{"close" | translate}}
    </button>
        <button type="button" class="btn btn-primary" (click)="modal.close('save')">
      {{"delete" | translate}}
    </button>
    </div>
</ng-template>