#sidebarText{
  font-size:20px;
  width: 100%;
}


.adminSideBar{
  background-color:#072348!important;
}


.adminTextColor{
  color:white!important;
}

.adminToggler{
  background-color:#072348!important;
  span{
    background:white!important;
  }
}



.nav-link ::before{
  right: -15px;
}
.white
{
  color: white !important;
}
.sidebar .sidebar-header .sidebar-brand {
  height: fit-content;
}
#logo
{
  top: 2%;
  left: 1%;
  z-index: 1;
  padding-top: 20px;
}
