<nav class="sidebar" id="sidebar" class="sidebar" [ngStyle]="
    this.languageService.userLanguage == 'ar'
      ? {
          right: 0
        }
      : {
          left: 0
        }
  ">
    <div [ngStyle]="
      this.languageService.userLanguage == 'ar' && { direction: 'rtl' }
    " [ngClass]="{
      'sidebar-header': true,
      adminSideBar: isAdmin,
      adminSideBarHeader: isAdmin
    }">
        <!--- Logo -->
        <a routerLink="/dashboard" id="sidebarText" [ngClass]="{
        'sidebar-brand': true,
        adminTextColor: isAdmin
      }">
            {{ "amca" | translate }}
        </a>

        <!--- Toggler -->
        <div [ngClass]="{
        'sidebar-toggler': true,
        'active': true,
        adminToggler: isAdmin
      }" #sidebarToggler (click)="toggleSidebar($event)">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div [perfectScrollbar] [ngClass]="{ 'sidebar-body': true, adminSideBar: isAdmin }">
        <!--- Sidemenu start -->

        <ul class="sidebar-nav metismenu" id="sidebar-menu" [ngStyle]="this.languageService.userLanguage == 'ar' && {'padding-right': '33px','direction':'rtl'}" #sidebarMenu>
            <ng-container>
                <li class="nav-item" routerLink="/dashboard">
                    <a class="nav-link" href="javascript:void(0);">
                        <mat-icon class="link-icon" appFeatherIcon>home</mat-icon>
                        <span class="link-title" [ngClass]="{ 'link-title': true, adminTextColor: isAdmin }" [ngStyle]="this.languageService.userLanguage == 'ar'
                        && { 'margin-right': '30px','margin-left':'0px' } ">{{ "Home" | translate }}</span>
                    </a>
                </li>
            </ng-container>

            <ng-container *ngIf="roles && roles.includes('buyer') || roles.includes('buyer_expert')">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">
                        <!-- <i class="link-icon" data-feather="pen-tool" appFeatherIcon></i> -->
                        <mat-icon [ngClass]="{ 'link-icon': true, adminTextColor: isAdmin }" appFeatherIcon>shopping_cart
                        </mat-icon>
                        <span [ngClass]="{ 'link-title': true, adminTextColor: isAdmin }">{{"buyer" | translate}}</span>
                        <span class="link-arrow" data-feather="chevron-down" appFeatherIcon></span>
                    </a>

                    <ul class="sidebar-nav sub-menu nav-second-level" aria-expanded="false">
                        
                        <li class="nav-item" [ngClass]="{ 'side-nav-item': true }" routerLink="/buyer/suppliers">
                            <a class="nav-link">
                                <i class="link-icon" appFeatherIcon></i>
                                <span [ngClass]="{ 'link-title': true, adminTextColor: isAdmin }">
                                    {{"suppliers" | translate}}
                                </span>
                            </a>
                        </li>

                        <li *ngIf="roles && roles.includes('buyer_expert')" class="nav-item" [ngClass]="{ 'side-nav-item': true }" routerLink="/buyer/suppliers">
                            <a class="nav-link">
                                <i class="link-icon" appFeatherIcon></i>
                                <span [ngClass]="{ 'link-title': true, adminTextColor: isAdmin }">
                                    {{"requests" | translate}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/buyer/rates">
                        <!-- <i class="link-icon" data-feather="pen-tool" appFeatherIcon></i> -->
                        <mat-icon [ngClass]="{ 'link-icon': true, adminTextColor: isAdmin }" appFeatherIcon>
                            star
                        </mat-icon>
                        <span [ngClass]="{ 'link-title': true, adminTextColor: isAdmin }">{{"rate" | translate}}</span>
                    </a>
                </li>
            </ng-container>

            <ng-container *ngIf="isAdmin">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/admin/history">
                        <!-- <i class="link-icon" data-feather="pen-tool" appFeatherIcon></i> -->
                        <mat-icon [ngClass]="{ 'link-icon': true, adminTextColor: isAdmin }" appFeatherIcon>
                            watch
                        </mat-icon>
                        <span [ngClass]="{ 'link-title': true, adminTextColor: isAdmin }">{{"history" | translate}}</span>
                    </a>
            
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);">
                        <!-- <i class="link-icon" data-feather="pen-tool" appFeatherIcon></i> -->
                        <mat-icon [ngClass]="{ 'link-icon': true, adminTextColor: isAdmin }" appFeatherIcon>supervisor_account
                        </mat-icon>
                        <span [ngClass]="{ 'link-title': true, adminTextColor: isAdmin }">{{"users" | translate}}</span>
                        <span class="link-arrow" data-feather="chevron-down" appFeatherIcon></span>
                    </a>

                    <ul class="sidebar-nav sub-menu nav-second-level" aria-expanded="false">
                        
                        <li class="nav-item" [ngClass]="{ 'side-nav-item': true }" routerLink="/admin/buyer/add">
                            <a class="nav-link">
                                <i class="link-icon" appFeatherIcon></i>
                                <span [ngClass]="{ 'link-title': true, adminTextColor: isAdmin }">
                                    {{"addBuyer" | translate}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ng-container>
            <li class="nav-item">
                <a class="nav-link" routerLink="/general/rooms">
                    <!-- <i class="link-icon" data-feather="pen-tool" appFeatherIcon></i> -->
                    <mat-icon [ngClass]="{ 'link-icon': true, adminTextColor: isAdmin }" appFeatherIcon>
                        send
                    </mat-icon>
                    <span [ngClass]="{ 'link-title': true, adminTextColor: isAdmin }">{{"rooms" | translate}}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>