<p class="h5 mb-4" [ngStyle]="
    this.languageService.userLanguage == 'ar' && { 'text-align': 'right' }
  ">
   {{ "rate" | translate }} 
</p>
<div class="col-md-12 stretch-card mb-2" *ngIf="id">
    <div class="card">
        <div class="card-body">
            <h4>{{"modifyYourRating" | translate}}</h4>
            <div class="row">
                <div class="col-3">
                    <star-rating [rating]="comment.rate" [starCount]="1" [color]="starColor" (ratingUpdated)="onRatingChanged($event)"></star-rating>
                </div>
                <div class="col-9">
                    <textarea [(ngModel)]="comment.comment" class="w-100 textarea p-1" placeholder="{{'yourComment'|translate}}"></textarea>
                </div>
                <div class="col-12 d-flex" style="justify-content:center">
                    <button [disabled]="dataSent" (click)="modifyComment()" class="btn btn-success mr-2 mb-2 mb-md-0">{{"update"|translate}}</button>
                    <button [disabled]="dataSent" (click)="id=null" class="btn btn-warning mr-2 mb-2 mb-md-0">{{"cancel"|translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 stretch-card">
    <div class="card">
        <div class="card-body" [ngStyle]="this.languageService.userLanguage == 'ar' && { direction: 'rtl' }">
            <div class="table-responsive" style=" position: relative; min-height: 40vh; ">
                <div class="table_loader loader_container" *ngIf="isLoad">
                    <div class="table_loader_background"></div>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="rightSide w-100" *ngIf="!isLoad&&this.data.content.length>0">
                    <span class="mr-2 ml-2 displayInlineBlock">{{"elementToDisplay"|translate}} : </span>
                    <select [ngModel]="currentSize" class="w-80px displayInlineBlock" (change)="onChangeSize($event)">
                        <option *ngFor="let size of this.sizes" value="{{size}}">{{size}}</option>
                    </select>
                </div>
                <table class="table text-center" *ngIf="!isLoad&&this.data.content.length>0;else nodata">
                    <thead>
                        <tr>
                            <th>{{"supplier" | translate}}</th>
                            <th>{{"rate" | translate}}</th>
                            <th>{{"comment" | translate}}</th>
                            <th>{{"actions"|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let piece of data.content  | paginate : { itemsPerPage: this.data.pageDetails.size, currentPage: data.pageDetails.number+1, totalItems: data.pageDetails.totalElements } ;let i = index  ">
                            <td>
                                {{piece.supplier.firstName+" "+piece.supplier.lastName.toUpperCase()}}
                            </td>
                            <td>
                                {{piece.rate}} <mat-icon>star</mat-icon>
                            </td>
                            <td>
                                {{(piece.comment.length>30)? (piece.comment | slice:0:30)+'...':(piece.comment)}}
                            </td>
                            <td>
                                <button [disabled]="doingAction" (click)="view(piece.supplier.id)" type="button" class="btn btn-primary" style=" color: #fff!important; width: 38px; padding: 10px 0px; margin:0 2px">
                                    <span *ngIf="doingActionTo!=i;else buttonLoader"><i data-feather="eye" appFeatherIcon></i></span>
                                </button>
                                <button [disabled]="doingAction" (click)="updateItem(piece[refName],i)" type="button" class="btn btn-warning" style=" color: #fff!important; width: 38px; padding: 10px 0px; margin:0 2px">
                                    <span *ngIf="doingActionTo!=i;else buttonLoader"><i data-feather="edit-2" appFeatherIcon></i></span>
                                </button>
                                <button [disabled]="doingAction" (click)="deleteItem(confirmRemove,piece[refName],i)" type="button" class="btn btn-danger" style=" color: #fff!important; width: 38px; padding: 10px 0px; margin:0 2px">
                                    <span *ngIf="doingActionTo!=i;else buttonLoader"><i data-feather="trash-2" appFeatherIcon></i></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div [ngStyle]="isLoad&&{display:'none'}" id="paginationContainer" *ngIf="!isLoad&&this.data.pageDetails.totalPages>=1">
                <pagination-controls [maxSize]="this.data.pageDetails.totalPages" (pageChange)="onChangePage($event)" previousLabel="" nextLabel="" class="my-pagination"></pagination-controls>
            </div>
            <div *ngIf="!isLoad&&this.data.content.length>0" class="centerizeText smallText">
                <span class="displayBlock">{{"displayedElements" | translate}} : {{this.data.pageDetails.numberOfElements}}</span>
                <span class="displayBlock">{{"totalDemandsNumber" | translate}} : {{this.data.pageDetails.totalElements}}</span>
            </div>
        </div>
    </div>
</div>

<ng-template #nodata>
    <div class="table_loader loader_container bigSize" *ngIf="!isLoad">
        <i data-feather="alert-octagon" appFeatherIcon class="ml-2 mr-2"></i> {{"noData"|translate}}
    </div>
</ng-template>
<ng-template #buttonLoader>
    <span style=" margin: 3px 2px;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
</ng-template>
<ng-template #confirmRemove let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmation">{{"deleted" | translate}}</h5>
        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <p>{{"confirmDelete"|translate}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('close')">
      {{"close" | translate}}
    </button>
        <button type="button" class="btn btn-primary" (click)="modal.close('save')">
      {{"delete" | translate}}
    </button>
    </div>
</ng-template>