@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~alertifyjs/build/css/alertify.min.css";
@import "~alertifyjs/build/css/themes/bootstrap.rtl.min.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Importing Bootstrap SCSS file. */

@import "~bootstrap/scss/bootstrap";
.download-file {
    height: 35px!important;
    border-radius: 0!important;
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    width: 35px!important;
    color: #fff!important;
    padding: 0!important;
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important;
}

.is-invalid .ng-select-container {
    border-color: #de3d4d!important;
}

.loader_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
}
.loadData {
    opacity: 0;
    height: 70vh;
    position: absolute;
}

.image_siel_logo {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}
.image_siel_logo img {
    width: 90%;
    margin: auto;
    align-self: center;
    margin-bottom: 10px;
}
.sidebar-folded .image_siel_logo img {
    width: auto;
    height: 47px;
    margin-left: 3px;
	margin-right: 3px;
}
.sidebar-folded .image_siel_logo{
justify-content: flex-end;

}
span.rigthrow {
    display: inline-block;
    transform: rotate(180deg);
}



.navbar .navbar-content .navbar-nav .nav-item.nav-profile .dropdown-menu .dropdown-body .profile-nav .nav-item .nav-link {
    gap: 8px;
}


html[lang="ar"]
{
    direction: rtl;
    .darker {
        margin-left: unset;
        margin-right: auto;
      }
    .page-content div, .page-content p, .page-content li {
        text-align: right!important;
    }
    .page-wrapper
    {
        margin-right: auto;
        margin-left: unset
    }
    .navbar-content
    {
        padding-left: 1%!important;
    }
    .navbar .navbar-content .navbar-nav .nav-item.dropdown .dropdown-menu {
        left: -20px!important;
        right: auto!important;
    }
    .navbar .navbar-content .navbar-nav {
        margin-left: unset!important;
        margin-right: auto!important;
    }
    .dropPanel
    {
        transform: translate(80px, 40px) !important;
    }
}


html[lang="ar"] label.mat-checkbox-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 5px;
}


.centerizeText * {
    text-align: center!important;
}

.smallText {
    font-size: 90%;
}

.w-80px {
    width: 80px;
}

.displayInlineBlock {
    display: inline-block;
}

.displayBlock {
    display: block;
}

.rightSide {
    text-align: right;
    position: sticky;
    left: 0;
}

@media(max-width:700px) {
    .bigSize {
        font-size: 4vw;
    }
}

@media(min-width:700px) {
    .bigSize {
        font-size: 2vw;
    }
}

@media(max-width:800px) {
    .mobile-w-100
    {
        width: 100%;
    }

}

.textarea
{
    height: 100px!important;
    resize: none;
    border-radius: 5px;
}

.textarea::-webkit-scrollbar {
    width: 4px!important;
}

.textarea::-webkit-scrollbar-track {
    width: 4px;
}

.textarea::-webkit-scrollbar-thumb {
    width: 4px;
}
.overflow-scroll
{
    overflow: scroll;
}
.divider-top
{
    border-top: 0.7px solid rgb(101, 101, 101);
}
.custom-pre
{
    background: white;
    border: 1px solid;
    padding: 10px!important;
}

mat-dialog-container {
    overflow-y: hidden!important;
  }

  .main-wrapper .page-wrapper .page-content {
    flex-grow: 1;
    padding: 0!important;
    margin-top: 0!important;
    background-color: #e4e4e4!important;
}
body{
    background-color: #e4e4e4!important;
}
.header {
    background: #7d5895;
    padding: 10px 50px;
    font-size: 40px;
    font-weight: 700;
    padding-top: 35px;
    color: #fff;
}

  .main-wrapper .page-wrapper .page-content {
    flex-grow: 1;
    padding: 0!important;
    margin-top: 0!important;
    background-color: #e4e4e4!important;
}
body{
    background-color: #e4e4e4!important;
}
.header {
    background: #7d5895;
    padding: 10px 50px;
    font-size: 40px;
    font-weight: 700;
    padding-top: 35px;
    color: #fff;
}


.nav-type2 {
    border-bottom: 2px solid #ffffffba;
    margin-bottom: 25px;
}
.nav-type2 {
    border-bottom: 2px solid #fff;
    margin-bottom: 25px;
    font-size: 20px;
    display: flex;
    gap: 10px;
}
.nav-2-element{
    cursor: pointer;
    margin-bottom: -2px;
    padding: 2px;
    display: flex;
}
.nav-2-element.active {
    border-bottom: 6px solid #5fc2e2;
}

.fileds-filters{
    font-size: 18px;
}
.fileds-filters .mat-form-field-flex {
    background-color: #fff;
    color: black;
    border-radius: 5px!important;
    height: 50px;
    width: 210px;
}
.fileds-filters .mat-form-field-infix {padding: 5px 8px;}
.fileds-filters .mat-form-field-wrapper {font-size: 16px;}
.filters-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.header-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 0;
}
.filter-element button.btn {
    width: 120px;
    height: 48px;
    background: #fff;
    border-radius: 5px;
    font-size: 16px;
    margin: 0!important;
    margin-left: 5px!important;
}
.filter-element {
    height: 52px;
}
.table thead th {
    border-bottom: 2px solid #9E9E9E!important;
    padding-top: 20px!important;
    font-size: 15px!important;
    color: #212121!important
}
.rate-table {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    gap: 2px;
}
.star-icon {
    color: #E8BF55;
}
.table td {
    font-size: 15px!important;
    color: #424242!important;
}
.more-btn {
    padding: 10px;
    background: #7d5895;
    border-radius: 25px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
}
button.more-btn {
    border: 0;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.body-container{
    position: relative!important;
    padding: 10px 40px!important;
}
.stretch-card > .card{border-radius: 15px!important;}
#languageDropdown span.ml-1 {
    color: #fff;
}
table button.btn {
    border-radius: 20px;
    min-width: 50px;
}
button.btn.view {
    background: #7d5895!important;
    border-color: #7d5895!important;
}
button.btn.view:hover {
    background: #614276!important;
    border-color: #614276!important;
}
button.btn.edit {
    background: #FEA14B!important;
    border-color: #FEA14B!important;
}
button.btn.edit:hover {
    background: #e48832!important;
    border-color: #e48832!important;
}
button.btn.delete {
    background: #C90000!important;
    border-color: #C90000!important;
}
button.btn.delete:hover {
    background: #a90909!important;
    border-color: #a90909!important;
}
.card-header-elements {
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    justify-content: space-between;
    gap: 10px;
    margin-top:-50px;
}
.card-header-1 {
    background: #fff;
    min-width: 200px;
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    box-shadow: 0px 1px 3px 2px #00000036;
	cursor:pointer;
}
.c-h-title {
    color: #9e9e9e;
}
.c-h-body {
    font-weight: 800;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
.c-h-body.green {
    color: #00A42E;
}
.for-header-card {
    height: 80px;
}
.title-type1 {
    color: #777777;
    font-size: 20px;
    margin-bottom: 10px;
}
.fournisseur-container-1 {
    display: flex;
    margin: 15px 0;
    flex-wrap: wrap;
    background: white;
    text-align: center;
    overflow: hidden;
    border: 1px solid #e4e4e4;
    border-radius: 22px;
}
.fournisseur-el1 {
    flex: 1;
    padding: 10px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #e4e4e4ab;
}
.fournisseur-title {
    font-size: 15px;
    font-weight: 700;
}
.fournisseur-body {
    font-size: 16px;
    color: #807E7E;
    line-break: anywhere
}
.c-h-body.no-data {
    content: "0";
    display: flex;
    width: 20px;
    height: 5px;
    background: #000;
    margin: auto;
    margin-top: 35px;
}
.fournisseur-body.no-data {
    margin-top: 15px;
    width: 20px;
    height: 4px;
    background: #807E7E;
}
.non {
    color: red;
}
.oui {
    color: green;
}
.rowFournisseur .col-8 {
    color: #616161;
}
.rowFournisseur .col-4 {
    font-weight: 700;
}
.rowFournisseur{font-size:17px;}
.col-4.no-data:after {
    content: "";
    width: 20px;
    height: 2px;
    background: #000;
    display: block;
    margin-top: 10px;
}
.card-body.rating-container {
    position: relative;
    padding: 0!important;
}
.rating-container button {
    position: absolute;
    top: 35%;
    right: 10px;
    height: 40px;
    width: 100px;
    background: #7d5895;
    border: #7d5895;
}
.rating-container button:hover {
    background: #643d7d;
    border: #643d7d;
}
.rating-container textarea {
    padding: 40px!important;
    padding-left: 15px!important;
    padding-bottom: 0!important;
}
.avatar-ui {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar-ui img {
    min-width: 100%;
    object-fit: cover;
    min-height: 100%;
}
.rating-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 0;
}
.rating-element-lst{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    min-width: 200px;
    max-width: 34%;
    flex: 1;
    gap: 10px;
}
.rating-list h6 {
    color: #431B5E;
    font-size: 18px;
    text-align: center;
}

.avatar-ui span {
    background: #e4e4e4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}
.btn.white-btn {
    display: flex;
    background: #fff;
    width: fit-content;
    padding: 12px 15px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    gap: 10px;
    min-width: 200px;
    border-radius: 9px;
}
.btn.white-btn .plus {
    background: #10b759;
    color: #fff;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-radius: 3px;
    padding-top: 3px;
}

.dialog-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    gap:10px;
}
.avatar-container {
    display: flex;
    scale: .9;
}
.avatar-element {
    margin-left: -30px;
}
.avatar-ui {
    box-shadow: 0 0 3px #00000040;
cursor:pointer;
}
.room-container {
    display: flex;
    width: 100%;
    min-height: 100%;
}
div#room {
    background: #ececec;
    flex: 1;
    overflow-y: auto;
}
.right-side {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    max-height: 100%;
}
.right-side div#room {
    border-radius: 20px;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: max-content;
    padding: 10px 0;
    border-right: 2px solid #D1D1D1;
    padding-right: 15px;
    padding-top: 20px;
    padding-left: 5px;
    min-width:350px;
    position: relative;
}
a.to-rooms {
    min-width: 150px;
    position: absolute;
    border: 0;
    z-index: 1000;
    padding: 10px;
    background: #431b5d;
    text-align: center;
    border-radius: 20px;
    color: #fff!important;
    font-weight: 700;
    bottom: 10px;
    left: 10px;
}
.part-title {
    font-size: 18px;
    font-weight: 600;
    color: #424242;
}
.left-side li {
    list-style: none;
}
.room-avatar-part {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin: 10px 0;
}
.left-side ul.ul-li {
    margin: 0;
    padding: 5px;
}
.room-partic {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.room-partic .avatar-ui {
    width: 45px;
    height: 45px;
}
.room-partic .avatar-ui span {
    font-size: 14px;
color:#000;
}
.room-partic {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 700;
    color: #431B5E;
}

.deleteIconRoom {
    background: #F44336;
    width: 35px!important;
    height: 35px!important;
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
    border-radius: 5px!important;
    color: white!important;
    cursor: pointer!important;
}
.room-part-container {
    overflow-y: auto;
}
.room-part-container {
    overflow-y: auto;
    max-height: 100%;
    height: 100%;
}

.message-container {
    display: flex;
    gap: 5px;
}
.message-container .avatar-ui {
    scale: .85;
}
.message-container p.sender {
    color: #000!important;
    font-size: 15px!important;
    font-weight: 700!important;
}
.top-message {
    display: flex;
    align-items: center;
    gap: 20px;
}
.message-container span.time {
    font-size: 13px;
    color: #757575;
}
.container-mess {
    width: fit-content;
    background: #BFBFBF;
    padding: 15px 14px;
    border-radius: 15px;
    font-weight: 600;
    margin: 5px 0;
    max-width: 90%;
}
.message-container {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.message-container.my-message {
    flex-direction: row-reverse;
}
.message-container.my-message .message-data {
    direction: rtl;
}

.message-container.my-message .container-mess {
    background: #431B5D;
    color: #fff;
}
input#msg {
    background: #ECECEC;
    width: 100%;
    border-radius: 15px;
    padding: 5px 15px;
    border: 0;
    outline: none!important;
    height: 50px;

}
button.btn.btn-primary.sendBtn {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 34px;
    padding: 0;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 8px;
    background: #5A5A5A;
    border: 0;
    cursor: pointer;
    border-radius: 10px;
}
.send-message-container {
    position: relative;
}
.charts-cont {
    display: flex;
    width: 100%;
    gap: 30px;
    position: relative;
    padding: 20px 40px;
    overflow: hidden;
    flex-wrap: wrap;
}
.apex-element {
    flex: 1;
    background: #fff;
    border-radius: 20px;
    min-width: 300px;
    padding: 15px;
    box-shadow: 0 0 2px 2px #00000014;
}
.title-apex {
    font-size: 20px;
    font-weight: 700;
    margin: 12px 0;
    color: #7B7979;
    text-align: center;
    margin-bottom: 25px;
}

.admin .header, .admin nav.navbar{
    background: #403f41!important;
}
.arabic span.link-title {
    margin-right: 0!important;
    margin-left: 4px!important;
}
.arabic div#sidebarText {
    margin-left: 0;
    margin-right: 5px;
}
.arabic .navbar-content {
    margin-left: 40px;
}
.arabic .header {
    text-align: right;
}
 .title-header.admin {
    display: none!important;
}
.admin .title-header.admin {
    display: block!important;
}
.admin .title-header.not-admin {
    display: none!important;
}

.arabic .message-container.my-message .message-data {
    direction: ltr;
}
.arabic button.btn.btn-primary.sendBtn {
    right: unset;
    left: 7px;
}



@media(max-width:900px) {
    .header-filters {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .filters-container {
        justify-content: center;
    }



}
@media(max-width:1100px) {

    .navbar-content {
        position: absolute;
        top: -6px;
        right: 4px;
        display: flex;
        align-items: self-start;

    }
    ul#sidebar-menu {
        margin-top: 24px;
    }
    .navbar-content {
        max-height: 49px;
    }
    .arabic .navbar-content {right: unset; left: 4px;}
}
@media(max-width:850px) {

    a.nav-link {
        padding: 8px 7px;
    }
}

.img-center{
    margin-right: auto!important;
    margin-left: auto!important;
    display: block!important;
    width: fit-content!important;
}

.amcahidden{
    display: none!important;
}

.nav-type2 {
    border-bottom: 2px solid #fff;
    margin-bottom: 25px;
}
.nav-type2 {
    border-bottom: 2px solid #fff;
    margin-bottom: 25px;
    font-size: 20px;
    display: flex;
    gap: 10px;
}
.nav-2-element.active {
    border-bottom: 6px solid #5fc2e2;
    height: 30px;
}

.fileds-filters{
    font-size: 18px;
}
.fileds-filters .mat-form-field-flex {
    background-color: #fff;
    color: black;
    border-radius: 5px!important;
    height: 50px;
    width: 210px;
}
.fileds-filters .mat-form-field-infix {padding: 5px 8px;}
.fileds-filters .mat-form-field-wrapper {font-size: 16px;}
.filters-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.header-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 0;
}
.filter-element button.btn {
    width: 120px;
    height: 48px;
    background: #fff;
    border-radius: 5px;
    font-size: 16px;
    margin: 0!important;
    margin-left: 5px!important;
}
.filter-element {
    height: 52px;
}
.table thead th {
    border-bottom: 2px solid #9E9E9E!important;
    padding-top: 20px!important;
    font-size: 15px!important;
    color: #212121!important
}
.rate-table {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    gap: 2px;
}
.star-icon {
    color: #E8BF55;
}
.table td {
    font-size: 15px!important;
    color: #424242!important;
}
.more-btn {
    padding: 10px;
    background: #7d5895;
    border-radius: 25px;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    line-height: 13px;
}
button.more-btn {
    border: 0;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body-container{
    position: relative!important;
    padding: 10px 40px!important;
}
.stretch-card > .card{border-radius: 15px!important;}
.stretch-card{
    margin-bottom: 15px;
}


@media(max-width:800px) {
    .auth-page > div:first-child{
        margin-top: 12px;
        margin-bottom: 12px;
    }

}

.flex-center{
    align-items: center;
    justify-content: center;
}


.post-container {
    display: flex;
    width: auto;
    background: white;
    margin: 20px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 2px #0000004d;
    flex-direction: column;
}
.post-container .top-element {
    display: flex;
    width: 100%;
    gap: 14px;
}
.post-title {
    font-size: 22px;
    font-weight: 700;
}
.post-bottom {
    display: flex;
    font-size: 14px;
    FONT-WEIGHT: 500;
    color: #424242;
    margin-top: -5px;
    gap: 10px;
}
.user-el {
    font-weight: 600;
    color: #212121c9;
}
.actions.posts-action button.btn {
    border-radius: 14px;
    width: 50px!important;
}
.bottom-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.actions.posts-action {
    width: fit-content;
}
span.icon {
    color: #Fff;
    background: #F44336;
    width: 45px;
    display: inline-block;
    text-align: center;
    padding: 20px 6px;
}
span.number {
    font-size: 17px;
    font-weight: 700;
    margin: 0 10px;
    min-width: 30px;
}
.likes-container {
    overflow: hidden;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 13px;
    border: 1px solid #EEEEEE;
    cursor: pointer;
}

.avatar-content-element {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 10px;
}

.data-element {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    min-height: 100%;
    gap: 5px;
}
.data-element .name {
    font-weight: 700;
    font-size: 17px;
}

.like-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 15px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.comment-actions {
    display: flex;
    margin: 10px 0;
    margin-top: 20px;
    gap: 10px;
    align-items: center;
    width: fit-content;
    margin-left: auto;
}
.reply-elemnt {
    position: relative;
    margin: 10px;
}
.reply-elemnt button.btn.btn-primary.view {
    position: absolute;
    right: 2px;
    top: 2px;
}
.reply-content {
    scale: .9;
}
.post-container.comment {
    margin: 0;
    padding: 0;
    box-shadow: none;
}
.post-content {
    margin: 10px 0;
    margin-top: 20px;
}
.like-comment.active {
    color: #FFF;
}
.left-element {
    display: flex;
    background: #fff;
    color: #000;
    width: fit-content;
    height: 100%;
    flex: 1;
    min-width: 35px;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 40px;
}
.like-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
    font-size: 17px;
    border-radius: 10px;
    padding: 0;
    cursor: pointer;
    scale: 0.9;
    border: 1px solid #E0E0E0;
    overflow: hidden;
    border-right: 1px solid #E0E0E0;
}
.like-e {
    display: flex;
    width: 35px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.like-comment.active .like-e {
    background: red;
}
.comment-count{
    cursor: default;
}
.comment-count.active .like-e{
    background: #4caf50!important;
}
.count-container {
    display: flex;
    gap: 4px;
    width: fit-content;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: -10px;
}

.simple-action {
    font-size: 17px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 4px #00000042;
}
.btn.btn-primary.view.loadmore {
    background: #7d5895;
    border-color: #7d5895;
    min-width: 120px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.select-type-fetch {
    max-width: 280px;
    margin-left: auto;
    margin-right: 20px;
}
.posts-container.ng-star-inserted {
    max-width: 1100px;
    margin: auto;
}
.arabic .select-type-fetch {
    margin-right: auto;
    margin-left: 20px;
}
.bottom-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.arabic button.btn.btn-primary.view {
    left: 2px;
    right: unset;
    margin-right: auto;
    width: fit-content;
}
.arabic .count-container {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}
.arabic .comment-actions {
    margin-left: 10px;
    margin-right: auto;
}

.pointer{
    cursor: pointer;
}

table.rating-table{
    width: fit-content;
}