<!-- Header -->

<div class="header">
    <div class="nav-type2">
        <div class="nav-2-element active">
            {{ "suppliers" | translate }}
        </div>
    </div>
    
    <div class="header-filters">
        <div class="filters-container">
            <div class="filter-element">
                <mat-form-field appearance="fill" class="fileds-filters">
                    <mat-label>{{"socialReason"|translate}}</mat-label>
                    <mat-select  [(ngModel)]="selectedSocials" multiple (openedChange)="openChanged($event)">
                        <input [(ngModel)]="search" placeholder="{{'search' | translate}}" class="form-control" (keyup)="onKey($event)">
                        <mat-option *ngFor="let i of socials" [value]="i">{{i}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filter-element">
                <mat-form-field appearance="fill" class="fileds-filters">
                    <mat-label>{{"activitySector"|translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedActivities" multiple>
                    <mat-option *ngFor="let i of activities" [value]="i.value">{{i.label|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filter-element">
                <mat-form-field appearance="fill" *ngIf="false" class="fileds-filters">
                    <mat-label>{{"managerFunction"|translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedFunctions" multiple>
                    <mat-option *ngFor="let i of functions" [value]="i.value">{{i.label|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filter-element">
                <mat-form-field appearance="fill" class="fileds-filters">
                    <mat-label>{{"officeCity"|translate}}</mat-label>
                    <input matInput [(ngModel)]="city"/>
                </mat-form-field>
            </div>
            <div class="filter-element">
                <mat-form-field appearance="fill" class="fileds-filters">
                    <mat-label>{{"salesFamily"|translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedFamily" multiple>
                    <mat-option *ngFor="let i of family" [value]="i.value">{{i.label|translate}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="filter-element">
                <mat-form-field appearance="fill" class="fileds-filters">
                    <mat-label>{{"capitalMAD"|translate}}</mat-label>
                    <mat-select [(ngModel)]="capitalMAD">
                    <mat-option *ngFor="let i of capitals" [value]="i.value">{{i.label|translate}}</mat-option>
                    </mat-select>
                    <button mat-button *ngIf="capitalMAD" matSuffix mat-icon-button aria-label="Clear" (click)="clearCapital($event)">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-form-field>
            </div>
       </div>
        <div class="filter-element">
            <button [disabled]="isLoad" class="btn btn-light m-2" (click)="filter()">{{"filter"|translate}}</button>
            <button [disabled]="isLoad" *ngIf="!emptyJson(spec.values)" class="btn btn-warning m-2" (click)="cancelFilter()">{{"cancel"|translate}}</button>
        </div>
    </div>
</div>
<br/>
<!-- end Header -->
<div class="col-md-12 stretch-card body-container">
    <div class="card">
        <div class="card-body" [ngStyle]="this.languageService.userLanguage == 'ar' && { direction: 'rtl' }">
            <div class="table-responsive" style=" position: relative; min-height: 40vh; ">
                <div class="table_loader loader_container" *ngIf="isLoad">
                    <div class="table_loader_background"></div>
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="rightSide w-100" *ngIf="!isLoad&&this.data.content.length>0">
                    <span class="mr-2 ml-2 displayInlineBlock">{{"elementToDisplay"|translate}} : </span>
                    <select [ngModel]="currentSize" class="w-80px displayInlineBlock" (change)="onChangeSize($event)">
                        <option *ngFor="let size of this.sizes" value="{{size}}">{{size}}</option>
                    </select>
                </div>
                <table class="table text-center" *ngIf="!isLoad&&this.data.content.length>0;else nodata">
                    <thead>
                        <tr>
                            <th>{{"rate"|translate}}</th>
                            <th *ngFor="let field of this.fields">
                                {{field|translate}}
                            </th>
                            <th *ngFor="let field of this.fieldsStatic">
                                {{field|translate}}
                            </th>
                            <th *ngFor="let field of this.fieldsDates">
                                {{field|translate}}
                            </th>
                            <th>{{"actions"|translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor=" let piece of data.content  | paginate : { itemsPerPage: this.data.pageDetails.size, currentPage: data.pageDetails.number+1, totalItems: data.pageDetails.totalElements } ;let i = index  ">
                            <td>
                                <div class="rate-table">{{getRate(piece['comments']) | number : '1.2-2'}}<span class="under-20">/20</span></div>
                            </td>
                            <td *ngFor="let field of this.fields">
                                {{piece[field]}}
                            </td>
                            <td *ngFor="let field of this.fieldsStatic">
                                {{piece[field] | translate}}
                            </td>
                            <td *ngFor="let field of this.fieldsDates">
                                {{piece[field] | date:"yyyy-MM-dd HH:mm:ss"}}
                            </td>
                            <td>
                                <button class="more-btn" [disabled]="doingAction" (click)="view(piece[refName])" type="button" >
                                    {{"more" | translate}}
                               </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div [ngStyle]="isLoad&&{display:'none'}" id="paginationContainer" *ngIf="!isLoad&&this.data.pageDetails.totalPages>=1">
                <pagination-controls [maxSize]="9" [responsive]="false" [autoHide]="true" (pageChange)="onChangePage($event)" previousLabel="" nextLabel="" class="my-pagination"></pagination-controls>
            </div>
            <div *ngIf="!isLoad&&this.data.content.length>0" class="centerizeText smallText">
                <span class="displayBlock">{{"displayedElements" | translate}} : {{this.data.pageDetails.numberOfElements}}</span>
                <span class="displayBlock">{{"totalDemandsNumber" | translate}} : {{this.data.pageDetails.totalElements}}</span>
            </div>
        </div>
    </div>
</div>

<ng-template #nodata>
    <div class="table_loader loader_container bigSize" *ngIf="!isLoad">
        <i data-feather="alert-octagon" appFeatherIcon class="ml-2 mr-2"></i> {{"noData"|translate}}
    </div>
</ng-template>
<ng-template #buttonLoader>
    <span style=" margin: 3px 2px;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
</ng-template>
<ng-template #confirmRemove let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="deleteConfirmation">{{"deleted" | translate}}</h5>
        <button type="button" class="close" (click)="modal.close('by: close icon')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <p>{{"confirmDelete"|translate}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.close('close')">
      {{"close" | translate}}
    </button>
        <button type="button" class="btn btn-primary" (click)="modal.close('save')">
      {{"delete" | translate}}
    </button>
    </div>
</ng-template>